.hero-section {
    color: var(--color-font-one);
    background-color: var(--color-body-partial);
  }
  
  .hero-wrap {
    overflow: hidden;
    padding-top: 4vh;
  }
  
  .hero-content {
    margin-bottom: 9vh;
  }
  
  .hero-title {
    font-weight: var(--font-weight-one-light);
    line-height: 1.2;
    max-width: 1500px;
    margin-top: 0;
    letter-spacing: var(--letter-spacing, normal);
  
    span,
    strong,
    b {
      font-weight: var(--font-weight-one-bold);
    }
  }
  
  .hero-title-medium {
    font-size: 9rem;
  }
  
  .hero-title-small,
  .hero-title-medium {
    margin-bottom: 4.5vh;
  }
  
  .hero-title-large {
    font-size: 11rem;
    margin-bottom: 6vh;
  }
  
  @media (max-width: 1820px) and (min-width: 1481px) {
    .hero-title-medium {
      font-size: 5.1vw;
    }
  
    .hero-title-large {
      font-size: 6.13vw;
    }
  }
  
  @media (max-width: 1480px) {
    .hero-wrap {
      padding-top: 2vh;
    }
  
    .hero-content {
      margin-bottom: 7vh;
    }
  
    .hero-title-medium {
      font-size: 7.8rem;
    }
  
    .hero-title-large {
      font-size: 9.2rem;
      margin-bottom: 4vh;
    }
  }
  
  @media (max-width: 1280px) {
    .hero-title-medium {
      font-size: 6.3vw;
    }
  
    .hero-title-large {
      font-size: 7.6vw;
    }
  }
  
  @media (max-width: 1024px) {
    .hero-wrap {
      padding-top: 1vh;
    }
  
    .hero-content {
      margin-bottom: 5vh;
    }
  
    .hero-title {
      margin-bottom: 3vh;
    }
  
    .hero-title-small {
      font-size: 4.8rem;
    }
  
    .hero-title-medium {
      font-size: 5.6rem;
    }
  }
  
  @media (max-width: 768px) {
    .hero-title-small {
      font-size: 4rem;
    }
  
    .hero-title-medium {
      font-size: 5rem;
    }
  
    .hero-title-large {
      font-size: 6rem;
    }
  }
  
  @media (max-width: 480px) {
    .hero-title-small {
      font-size: 3rem;
    }
  
    .hero-title-medium {
      font-size: 3.4rem;
    }
  
    .hero-title-large {
      font-size: 3.8rem;
    }
  }
  
  @media (max-width: 320px) {
    .hero-title-small {
      font-size: 2.8rem;
    }
  
    .hero-title-medium {
      font-size: 3.2rem;
    }
  
    .hero-title-large {
      font-size: 3.6rem;
    }
  }