.header-nav {
  position: relative;
  z-index: 2;
  flex: 0 1 100%;
  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      word-break: normal;
    }
    > ul {
      align-items: center;
      flex-grow: 1;
      justify-content: flex-end;
      display: flex;
    }
    li {
        margin-left: 1.15vw;
    }
  }
}
