@import './checkbox.css';
@import './logo.css';
@import './nav.css';
@import './search.css';
@import './toggle.css';

.header-wrap {
  min-height: 90px;
  padding-bottom: 2vh;
  display: flex;
  align-items: center;
  nav > ul {
    display: flex;
    align-items: center;
  }
  li,
  a {
    font-family: var(--font-family-three);
    font-size: 1.8rem;
    font-weight: var(--font-weight-three-medium);
    display: inline-block;
  }
}

.header-section {
  color: var(--color-font-one);
  background-color: var(--color-body-partial);
}
